*{
    background-color: #FCF5E5;
}

h1{
    font-family: Frederica the Great, monoton;
    color: #8cc454;
}

h2{
    font-family: Comfortaa, Montserrat;
    color: #5e403b;
}

p{
    font-family: economica, dosis;
    color: #434343;
}